$black: #000;
$white: #fff;

$breakpoint-max-mobile:  '767px';
$breakpoint-min-tablet: '768px';

$font-family-inter: "Inter", sans-serif;


/*
 *    Music Player
 */
$mp-base-color-01: #121826a6;
$mp-base-color-02: #212936;
$mp-base-color-03: #4D5562;

$mp-accent-color-01: #C93B76;
$mp-accent-color-02: #E5E7EB;