$base-color-01: #1B1D1F;
$base-color-02: #111315;
$base-color-03: #6F757C;

$accent-color-01: #BEE3CC;
$accent-color-02: #FEF7EE;
$accent-color-03: #F6C768;
$accent-color-04: #ED735D;

$fontsize-heading:     2rem;
$fontsize-body:        1rem;
$fontsize-label:       0.875rem;
$fontsize-small-text:  0.625rem;
$fontsize-price-text:  0.75rem;

$breakpoint-max-xs:  '639px';
$breakpoint-min-sm:  '640px';
$breakpoint-max-sm:  '1023px';
$breakpoint-min-md:  '1024px';
$breakpoint-max-md:  '1279px';
$breakpoint-min-lg:  '1280px';