@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&display=swap');


// CSS Reset
html {
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
}

html, body {
    width: 100%;
}

body {
    min-height: 100vh;
    //min-height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


// Styles
html {
    font-family: 'DM Sans', sans-serif;
    background-color: $base-color-02;

    body {
        background-image: url('./src/assets/img/bg-cafe.jpg');
        background-attachment: fixed;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% auto;

        #app {
            padding-top: 13%;

            h1 {
                color: $accent-color-02;
                font-size: $fontsize-heading;
            }
    
            p {
                color: $base-color-03;
                font-size: $fontsize-body;
            }
    
            h1, p { text-align: center; }
    
            ul {
                li {
                    color: $accent-color-02;
                    font-size: $fontsize-label;
                }
            }
        }
    }
}