$black: #000;
$white: #fff;

$breakpoint-max-mobile:  '767px';
$breakpoint-min-desktop: '768px';

$font-family-montserrat: 'Montserrat', sans-serif;
$font-weight-montserrat-medium: 500;
$font-weight-montserrat-bold:   700;


/*
 *    User Authentication
 */
$ua-base-color-01: #F0EAD2;
$ua-base-color-02: #DDE5B6;

$ua-accent-color-01: #A98467;
$ua-accent-color-02: #554439;



/*
 *    Alarm
 */
$al-base-color-01: #d1e9fd;
$al-base-color-02: #A2D2FF;
$al-base-color-03: #616161;

$al-accent-color-01: #FFC8DD;
$al-accent-color-02: #f881ab;
$al-accent-color-03: #CDB4DB;
