$black: #000;
$white: #fff;

/*
 *    User Authentication
 */

// Colors
$ua-base-color-01: #F0EAD2;
$ua-base-color-02: #DDE5B6;
//$ua-base-color-03: #ADC178;

$ua-accent-color-01: #A98467;
$ua-accent-color-02: #554439;

// Font
$ua-font-family: 'Montserrat', sans-serif;

$ua-font-weight-medium: 500;
$ua-font-weight-bold:   700;

// Breakpoints
$ua-breakpoint-max-mobile:  '767px';
$ua-breakpoint-min-desktop: '768px';
