$black: #000;
$white: #fff;

$breakpoint-max-mobile:  '767px';
$breakpoint-min-desktop: '768px';

$font-family-montserrat: 'Montserrat', sans-serif;
$font-weight-montserrat-medium: 500;
$font-weight-montserrat-bold:   700;


/*
 *    User Authentication
 */
$ua-base-color-01: #F0EAD2;
$ua-base-color-02: #DDE5B6;

$ua-accent-color-01: #A98467;
$ua-accent-color-02: #554439;



/*
 *    Alarm
 */
$al-base-color-01: #E6CCB2;
$al-base-color-02: #DDB892;
$al-base-color-03: #B3957D;

$al-accent-color-01: #6D4429;
$al-accent-color-02: #9C6644;
//$al-accent-color-03: #9C6644;
